<h1>Drinks</h1>
<table>
  <thead>
    <th>
      Drink title
    </th>
    <th>
      Review title
    </th>
    <th>
      Match score
    </th>
    <th>
      Review score
    </th>
    <th>
      Max availability in Alko
    </th>
  </thead>
  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td>
          <%= drink.title %>
        </td>
        <td>
          <% if drink.review %>
          <% if drink.review.score > 0 %>
            <%= drink.review.title %>
          <% end %>
          <% end %>
        </td>
        <td>
          <% if drink.review %>
          <% if drink.review.score > 0 %>
          <%= number_with_precision(drink.best_rev_candidate_score, :precision => 2) %>
          <% end %>
          <% end %>
        </td>
        <td>
          <% if drink.review %>
          <% if drink.review.score > 0 %>
            <%= number_with_precision(drink.review.score, :precision => 0) %>
          <% end %>
          <% end %>
        </td>
        <td>
          <%= drink.alco_avails.max(:amount) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
